<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <title>Ajouter une plage</title>
</head>

<body>
<h1>Ajouter une plage</h1>
<h1 th:if="${plage.id == 0}">Ajouter une plage ! </h1>
<h1 th:if="${plage.id != 0}">Modifier une plage ! </h1>

<a th:href="@{/plages/list}">Revenir en arrière</a>

<form th:object="${plage}" method="post" enctype="multipart/form-data">
    <div>
        <label>
            Nom
        </label>
        <input type="text" th:field="*{nom}"/> <br>
        <span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></span>
    </div>

    <div>
        <label>
            Number
        </label>
        <input type="text" th:field="*{number}"/> <br>
        <span th:if="${#fields.hasErrors('number')}" th:errors="*{number}"></span>
    </div>


    <div>
        <label>
            street
        </label>
        <input type="text" th:field="*{street}"/> <br>
        <span th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></span>
    </div>


    <div>
        <label>
            Code postal
        </label>
        <input type="text" th:field="*{codePostal}"/> <br>
        <span th:if="${#fields.hasErrors('codePostal')}" th:errors="*{codePostal}"></span>
    </div>

    <div>
        <label>
            Ville
        </label>
        <input type="text" th:field="*{city}"/> <br>
        <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>
    </div>

    <div>
        <label>
            Email
        </label>
        <input type="text" th:field="*{email}"/> <br>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    </div>

    <div>
        <label>
            Image
        </label>
        <input type="file" name="uploadImage"/> <br>
        <span th:if="${uploadError}" th:text="${uploadError}"></span>
    </div>

    <input type="submit" value="envoyer !">
</form>
</body>
</html>
