<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>

    <title>Les plages de la côte !</title>
    <link rel="stylesheet" th:href="@{/css/lib/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

<div th:replace="parts/global :: nav"></div>

<h1>Les plages de la côte !</h1>

<div th:if="${plages.getTotalElements() == 0}">Aucune plage dispo !</div>
<a th:href="@{/plages/add}">Ajouter une nouvelle plage !</a>

<table class="table">
    <thead>
        <th>Nom</th>
        <th>Photo</th>
        <th>Indice courant</th>
        <th>Count</th>
        <th>Size</th>
        <th>Even / Odd</th>
        <th>First</th>
        <th>Last</th>
        <th>Action</th>
    </thead>
    <tbody>
        <tr th:each="plage, state : ${plages.content}">
            <td th:text="${plage.nom}"></td>
            <td>
                <img th:if="${plage.image != null}" width="100" th:src="${plage.image}">
                <img th:if="${plage.image == null}" width="100" th:src="@{/images/test.png}">
            </td>

            <td th:text="${state.index}">

            </td>

            <td th:text="${state.count}">

            </td>

            <td th:text="${state.size}">

            </td>

            <td th:text="${state.even}+${state.odd}">

            </td>

            <td th:text="${state.first}">

            </td>

            <td th:text="${state.last}">

            </td>

            <td>
                <a th:href="@{/plages/{plage}(plage=${plage.id})}">
                    Voir en détail
                </a>
                <br>
                <a th:href="@{/plages/edit/{plage}(plage=${plage.id})}">
                    Editer
                </a>
                <br>
                <a th:href="@{/plages/delete/{plage}(plage=${plage.id})}">
                    Supprimer
                </a>
            </td>
        </tr>
    </tbody>
</table>

<a th:if="${plages.hasPrevious()}" th:href="@{/plages/list?page=__${plages.getNumber()}__}">Page précédente</a>

<th:block th:each="i: ${#numbers.sequence(1, plages.getTotalPages())}">
    <a  th:href="@{/plages/list?page=__${i}__}" th:text="'Page '+ ${i}"></a>
</th:block>

<a th:if="${plages.hasNext()}" th:href="@{/plages/list?page=__${plages.getNumber()+2}__}">Page suivante</a>

<div th:replace="parts/global :: footer"></div>

<script type="text/javascript" th:src="@{/js/lib/bootstrap.bundle.js}"></script>
</body>
</html>




