<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <title>Rechercher une plage</title>
</head>

<body>
    <h1>Rechercher une plage !</h1>

    <h2>Formulaire de recherche</h2>
    <form th:object="${form}" method="post">
        <div>
            <label>Rechercher une plage</label>
            <input type="text" th:field="*{searchBar}">
        </div>

        <div>
            <label>Rechercher par département</label>
            <select th:field="*{departmentNumber}">
                <option th:value="null"></option>
                <option th:each="department : ${departmentName}"
                        th:value="${departmentNumero.get(departmentStat.index)}"
                        th:text="${department}"
                >
                </option>
            </select>
        </div>

        <div>
            <label>Rechercher uniquement les plages avec photo</label>
            <input type="radio" th:field="*{plageWithPicture}" th:value="true"/> Oui
            <input type="radio" th:field="*{plageWithPicture}" th:value="false"/> Non
        </div>

        <button type="submit">Rechercher !</button>
    </form>


<h2>Les plages filtrées</h2>

    <table>
        <thead>
        <th>Nom</th>
        <th>CodePostal</th>
        <th>City</th>
        <th>Street</th>
        <th>Email</th>
        <th>Photo</th>
        </thead>
        <tbody>
        <tr th:each="plage : ${plages}">
            <td th:text="${plage.nom}"></td>
            <td th:text="${plage.codePostal}"></td>
            <td th:text="${plage.city}"></td>
            <td th:text="${plage.street}"></td>
            <td th:text="${plage.email}"></td>
            <td>
                <img th:if="${plage.image != null}" width="100" th:src="${plage.image}">
                <img th:if="${plage.image == null}" width="100" th:src="@{/images/test.png}">

            </td>
        </tr>
        </tbody>
    </table>

</body>
